.page {
  width: 100%;
  height: 100vh;

  background-color: #222;
  color: #fefefe;
}

/* Header config */
.header {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1rem;

 padding: 1rem;

 background-color: #141414;
}
/* ========= Header =========*/

.main {
  width: 100%;
}
.pc_info {
  margin: 2rem auto;

  width: 200px;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-items: center;
  gap:1rem;
}

.main-gp > p {
  font-size: 18px;
}